<div class="sidebar-wrapper">
  <div class="sidebar-content">
    <div class="sidebar-logo">
      <img src="/assets/img/logo-tik-talk.png" alt="logo">
    </div>
    <div class="sidebar-nav">
      <div class="sidebar-nav__item">
        <img src="/assets/img/home-icon.png" alt="home icon" />
        Моя страница
      </div>
      <div class="sidebar-nav__item">
        <img src="/assets/img/chat-icon.png" alt="chat icon" />
        Чаты
      </div>
      <div class="sidebar-nav__item">
        <img src="/assets/img/search-icon.png" alt="search icon" />
        Поиск
      </div>
    </div>
    <div class="subscribers-wrapper">
      <div class="subscribers-title">Подписчики</div>
      <div class="subscribers-list">
        <div class="subscribers-list__item">
          <img src="/assets/img/sarah_konnor.png" class="subscriber-img">
          Сара Коннор
        </div>
        <div class="subscribers-list__item">
          <img src="/assets/img/sarah_konnor.png" class="subscriber-img">
          Кристана Локен
        </div>
        <div class="subscribers-list__item">
          <img src="/assets/img/sarah_konnor.png" class="subscriber-img">
          Майкл Уинслоу
        </div>
      </div>
      <div class="subscribers-all">
        <span> Все подписчики </span>
        <img src="/assets/img/Arrow.svg" alt="arrow">
      </div>
    </div>
  </div>
  <div class="sidebar-footer">
    <div class="sidebar-footer__profile">
      <img src="/assets/img/sarah_konnor.png" class="subscriber-img">
      <span>rayn.gasolog</span>
    </div>
    <div class="sidebar-footer__settings">
      <img src="/assets/img/settings.svg" alt="settings">
    </div>
  </div>
</div>
