<div class="sidebar-wrapper">
  <div class="sidebar-content">
    <div class="sidebar-content__logo">
      <img src="/assets/img/logo-tik-talk.png" alt="logo">
    </div>
    <div class="sidebar-content-nav">
      <div class="sidebar-content-nav__item sidebar-content-nav__item--active">
        <span class="sidebar-content-nav__icon">
          <img src="/assets/img/home-icon.png" alt="home icon" />
        </span>
        <span>Моя страница</span>
      </div>
      <div class="sidebar-content-nav__item">
        <span class="sidebar-content-nav__icon">
          <img src="/assets/img/chat-icon.png" alt="chat icon" />
        </span>
        <span>Чаты</span>
        <div class="sidebar-content-chats-msg">28</div>
      </div>
      <div class="sidebar-content-nav__item">
        <span class="sidebar-content-nav__icon">
          <img src="/assets/img/search-icon.png" alt="search icon" />
        </span>
        <span>Поиск</span>
      </div>
    </div>
    <div class="subscribers-wrapper">
      <div class="subscribers-title">Подписчики</div>
      <div class="subscribers-list">
        <div class="subscribers-list__item">
          <img src="/assets/img/sidebar-subscriber-1.png" class="subscriber-img" alt="subscriber 1">
          <span>Сара Коннор</span>
        </div>
        <div class="subscribers-list__item">
          <img src="/assets/img/sidebar-subscriber-2.png" class="subscriber-img" alt="subscriber 2">
          <span>Кристанна Локен</span>
        </div>
        <div class="subscribers-list__item">
          <img src="/assets/img/sidebar-subscriber-3.png" class="subscriber-img" alt="subscriber 3">
          <span>Майкл Уинслоу</span>
        </div>
      </div>
      <div class="subscribers-all">
        <span>Все подписчики</span>
        <img src="/assets/img/Arrow.svg" alt="arrow">
      </div>
    </div>
  </div>
  <div class="sidebar-footer-wrapper">
    <div class="sidebar-footer">
      <div class="sidebar-footer__profile">
        <img src="/assets/img/sidebar-footer-user.png" class="subscriber-img" alt="current user avatar">
        <span>ryan.gosling</span>
      </div>
      <div class="sidebar-footer__settings">
        <img src="/assets/img/settings.svg" alt="settings">
      </div>
    </div>
  </div>
</div>
